#################
## Sublime Text
#################

*.sublime-project
*.sublime-workspace

#################
## Images
#################

*.jpg
*.jpeg
*.png
*.gif
*.psd
*.ai

#################
## Directories
#################

node_modules/
.git/
bower_components/
assets/angular-*/
assets/angular/


