<div class="container">
	<span ng-if="registerError" style="color: red;">{{registerError}}</span>
	<form ng-submit="register(username, password, password2)">
		<div class="form-group">
			<label>Username</label>
			<input class="form-control" type="text" ng-model="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input class="form-control" type="password" ng-model="password">
		</div>
		<div class="form-group">
			<label>Re-type password</label>
			<input class="form-control" type="password" ng-model="password2">
		</div>
		<input class="btn btn-success btn-lg btn-block" type="submit" value="Register"> 
	</form>
</div>